body {
	background-color: #464368;
    color: #fff;
    text-align: center;
}
#name {
	visibility: hidden;
	position: relative;
	font-size: 5em;
	color: #fff;

	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}

#jumbo {
	visibility: hidden;
	position: relative;
	color: #f7f7fa;
	background-color: #464368;
	
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}
#jumbo2 {
	position: relative;
	top: 50px;
	visibility: hidden;
	/*width: 49%;*/
	/*float:right*/
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	color: #f7f7fa;
	background-color: #1b1b24;
	
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}
#letter {
	color: #1b1b24;
	text-shadow: 1px 1px 1px #fff;
}
#umassComplete {
	position: relative;
	visibility: hidden;
	top: 35px;
	width: 48%;
	float: right;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	/*background-color: #1b1b24;*/
	background-color: transparent;
	color: #f7f7fa;
	
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}
#compass {
	position: relative;
	visibility: hidden;
	top: 35px;
	width: 48%;
	float: right;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	/*background-color: #1b1b24;*/
	background-color: transparent;
	color: #f7f7fa;
	
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}
.first-wrapper {
	position: relative;
	height: 775px;
	width: auto;
	background-color: #1b1b24;
}
.row > div {
	visibility:hidden;
	border-radius: 5px;
	border-top-style:none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-color: transparent;

	/* Orange border-bottom transition */
	transition: border-bottom-color 2s linear;
	-moz-transition: border-bottom-color 2s linear;   
	-o-transition: border-bottom-color 2s linear; 
	-webkit-transition: border-bottom-color 2s linear;
	width: auto;
	height: auto;
}

.stuff {
	-webkit-animation: scaleDown 3s ease-out 3s;
	-webkit-animation-fill-mode: both;

	-moz-animation: scaleDown 3s ease-out 3s;
	-moz-animation-fill-mode: both;

	-o-animation: scaleDown 3s ease-out 3s;
	-o-animation-fill-mode: both;

	animation: scaleDown 3s ease-out 3s;
	animation-fill-mode: both;
}

@-webkit-keyframes scaleDown {
	from {
		-webkit-transform: scale(1.0);
		top: 350px;
		left: 0%;
	}

	to {
		-webkit-transform: scale(0.5);
		top: -20px;
		left: -2%;
	} 
}

@-moz-keyframes scaleDown {
	from {
		-moz-transform: scale(1.0);
		top: 350px;
		left: 0%;
	}

	to {
		-moz-transform: scale(0.5);
		top: -20px;
		left: -2%;
	} 
}

@-o-keyframes scaleDown {
	from {
		-o-transform: scale(1.0);
		top: 350px;
		left: 0%;
	}

	to {
		-o-transform: scale(0.5);
		top: -20px;
		left: -2%;
	} 
}

@keyframes scaleDown {
	from {
		transform: scale(1.0);
		top: 350px;
		left: 0%;
	}

	to {
		transform: scale(0.5);
		top: -20px;
		left: -2%;
	} 
}
#vert {
	position: relative;
	top: 350px;

	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

/* Big Triangle
	from codrops.com */
svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	fill: #1b1b24;
	stroke: #1b1b24;
	stroke-width: 2;
}

.first {
	position: relative;
}

.second {
	position: relative;
}

.third {
	position: relative;
}